*
{
    image-rendering: pixelated;
    font-family: "Nunito";
}

body
{
    display: flex;
    align-items: center;
    background: linear-gradient(340deg, #101116, #1b1c23, #272833);
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: flex-end;
}

/* Canvas */
#canvaswrapper
{
    position: relative;
    min-width: 1024px;
    min-height: 1024px;
    margin: 40px;
}

.pixelartcanvas
{
    background: linear-gradient(45deg, #c4c4c4 25%, #84848400 25%, transparent 75%, #c4c4c4 75%, #c4c4c4 ), linear-gradient(45deg, #c4c4c4 25%, #79797900 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
    background-size: 64px 64px;
    background-position: 64px 0px, 96px 32px;
    background-color: white;
    
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#canvaswrapper::before
{
    position: absolute;
    content: "";
    background: -webkit-linear-gradient(283deg, #39a7d3, #7646eb);
    width: 1034px;
    height: 1034px;
    top: -5px;
    left: -5px;
    z-index: -100;
    border-radius: 5px;
}

/* Bar */
#bar
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

#colorinput
{
    border: none;
    padding: 0;
    height: 128px;
    width: 128px;
    background: transparent;
    margin-bottom: auto;
    margin-top: 70px;
    cursor: pointer;
}

#textoptions
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 250px;
}

#pixelartdownload>button
{
    color: transparent;
    border: none;
    font-size: 2rem;
    background: -webkit-linear-gradient(283deg, #39a7d3, #7646eb);
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
}

/* Toolkit */
#toolkit
{
    margin: 50px;
}

#toolkit>button
{
    position: relative;
    background: transparent;
    border: none;
    width: 120px;
    margin-inline: 20px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
}

#toolkit>button>img
{
    width: 100%;
}

#toolkit>button>span
{
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: white;
    font-size: 1.2rem;
}

/* Palettes */
#paletteinput
{
    display: none;
}

#palettelabel
{
    font-size: 2rem;
    color: transparent;
    cursor: pointer;

    background: -webkit-linear-gradient(283deg, #39a7d3, #7646eb);
    -webkit-background-clip: text;
    background-clip: text;
}

#palette
{
    width: 800px;
    display: flex;
    position: relative;
    left: 25px;
    top: 25px;
    flex-wrap: wrap;
}

#palette img
{
    height: 45px;
    margin: 1px;
    cursor: pointer;
}

/* Media */
@media only screen and (max-width: 900px) 
{
    #bar 
    {
        display: none;
    }

    #canvaswrapper
    {
        display: none;
    }

    body::after
    {
        content: "Pixelia todavía no está disponible en esta resolución";
        justify-content: center;
        font-size: 3rem;
        background: -webkit-linear-gradient(283deg, #39a7d3, #7646eb);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
    }
}